
.cta-section{
background-color:#2F303A ;
padding: 200px;
margin-bottom: 94px;
background-image: linear-gradient(#2F303A66,#2F303A66), url(../images/cta-image.jpg);
}

.slogan{
color: var(--background-hero-color);
font-size: 44px;
font-weight: 900;
line-height: 1.36;
letter-spacing: 0.06em;
text-align: center;
text-transform: uppercase;
margin: 0 auto;
margin-bottom: 30px;
}